:root {
    --breakpoint-size: 10px;
    --breakpoint-radius: 10px;

    --backgroundDark: #1e1e1e;
    --backgroundLight: #252526;
    --backgroundHeading: #37373d;
    --backgroundSelected: #2a2d2e;
    --fontColorNormal: #c2cccc;
    --fontColorLight: #e7e7e7;
    --slider: #414141;
    --loginButtonBackgrond: #59a15d;
    --loginButtonFontColor: #000000;
    --loginMessageColor: rgb(122, 48, 48);
    --loginButtonHover: #63a867;
    --loginButtonActive: #94ffd1;
    --scrollbar: #1e1e1e;
    --scrollbar-thumb: #3e3e3e;
    --scrollbar-thumb-hover: #5e5e5e;
    --scrollbar-thumb-active: #7e7e7e;
    --submenu-hover: #094771;
    --submenu-color:#ffffff;
    --menuitemsdivider: #616162;
    --file-hover: hsla(0, 0%, 38%, 0.125);
    --file-active: #094771;
    --file-active-hover: rgba(9, 71, 113, 0.827);
    --file-errorcount: red;
    --file-hover: hsla(0, 0%, 38%, 0.125);
    --file-active: #094771;
    --file-active-hover: rgba(9, 71, 113, 0.827);
    --inplace-editor: blue;
    --contextmenu-background: #3c3c3c;
    --contextmenu-color: rgb(212,212,212);
    --contextmenu-hover-background: #094771;
    --contextmenu-hover-color: #ffffff;
    --error-filename: #2a709e;
    --error-line-ative: #094771;
    --error-line-hover: rgba(96, 96, 96, 0.125);
    --error-position: #c0802d;
    --linecolumn: #14c714;
    --reveal-error: rgba(253, 101, 101, 0.745);
    --reveal-errorline-background: red;
    --reveal-error-whole-line: rgba(255, 0, 0, 0.555);
    --reveal-programpointer: rgba(111, 214, 27, 0.337);
    --reveal-syntaxelement: rgb(85,85,85);
    --margin-breakpoint: rgba(255, 0, 0, 0.623);    
    --speedcontrol-bar: #9d9d9d;
    --speedcontrol-grip: #588555;
    --speedcontrol-grip-hover: #89d185;
    --speedcontrol-display-background: #383838;
    --speedcontrol-display-border: #9d9d9d;
    --editorTooltip-background: #252526;
    --editorTooltip-border: #454545;

        }   

html {
    margin: 8px;
}

body {
    background-color: black;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: white;
}

.jo_spritelibrary-heading {
    color: rgb(204, 204, 204);
    font-weight: bold;
}

#entries {
    width: 100%;
}

.jo_spritelibrary-set {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}

.jo_spritelibrary-line {
    display: flex;
    flex-direction: row;
}

.jo_spritelibrary-line>div {
    margin: 10px;
    flex-shrink: 0;
}

.jo_spritelibrary-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
    height: fit-content;
}

.jo_scrollable::-webkit-scrollbar {
    width:14px;
    background-color: var(--scrollbar);
}

.jo_scrollable::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

.jo_scrollable::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

.jo_scrollable::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active);
}

.jo_spritelibrary-innerbox {
    background: url('../assets/graphics/checkerboard-background.png');
    background-repeat: repeat;
}

.jo_spritelibrary-subscript {
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 3px 0 3px 0;
    height: fit-content;
}