:root {
    --deIdentifier: rgb(156, 156, 235);
    --deValue: white;    
}
/*debugger*/
#debugger {
    display: flex;
}

#variablelist {
    padding-left: 2px;
}

.jo_debuggerElement {
    cursor: pointer;
}

.jo_deFirstline:hover>.jo_deIdentifier {
    font-weight: 700;
}

.jo_debuggerElement.jo_canOpen>.jo_deFirstline::before {
    content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M10.0719 7.99999L5.71461 12.3573L6.33333 12.976L11 8.30935V7.69063L6.33333 3.02396L5.71461 3.64268L10.0719 7.99999Z" fill="white"/%3E%3C/svg%3E%0A'); /*img(tree-collapsed-hc.svg)*/
    position: relative;
    top: 3px;
    left: -1px;
    margin-right: 0px;
}

.jo_debuggerElement.jo_canOpen.jo_expanded>.jo_deFirstline::before {
    content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M7.97602 10.0719L12.3333 5.71461L12.952 6.33333L8.28538 11L7.66666 11L3 6.33333L3.61872 5.71461L7.97602 10.0719Z" fill="white"/%3E%3C/svg%3E%0A'); /*img(tree-expanded-hc.svg)*/
    position: relative;
    margin-right: 0px;
}

.jo_debuggerElement>.jo_deChildContainer {
    display: none;
}

.jo_debuggerElement.jo_expanded>.jo_deChildContainer {
    display: flex;
    flex-direction: column;
}

.jo_deFirstline {
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    /* font-size: 10pt; */
    font-family: 'Consolas', 'Roboto Mono', monospace;
}

.jo_deIdentifier {
    color: var(--deIdentifier);
}

.jo_deValue {
    color: var(--deValue);
}

.jo_deCaption {
    font-family: 'Roboto', sans-serif;
    /* font-size: 10pt; */
    color: var(--deValue);
}

.jo_watcherExpression, .watcherResult {
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    /* font-size: 10pt; */
    font-family: 'Consolas', 'Roboto Mono', monospace;
}

.jo_watcherResult:before {
    content: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F%3E%3Csvg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns%23" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns%23" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="16" height="16" viewBox="0 0 16 16" fill="none" version="1.1" id="svg4" sodipodi:docname="result-arrow.svg" inkscape:version="0.92.3 (2405546, 2018-03-11)"%3E%3Cmetadata id="metadata10"%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=""%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id="defs8" /%3E%3Csodipodi:namedview pagecolor="%23ffffff" bordercolor="%23666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1001" id="namedview6" showgrid="false" inkscape:zoom="32" inkscape:cx="17.495207" inkscape:cy="3.0295945" inkscape:window-x="-9" inkscape:window-y="-9" inkscape:window-maximized="1" inkscape:current-layer="svg4" /%3E%3Cpath style="clip-rule:evenodd;fill:%23ffffff;fill-rule:evenodd" d="M 12.097656 5.2539062 L 11.550781 5.8242188 L 13.144531 7.4921875 L 1.796875 7.4921875 L 1.796875 8.5761719 L 13.080078 8.5761719 L 11.550781 10.175781 L 12.097656 10.746094 L 14.558594 8.3085938 L 14.558594 7.6914062 L 12.097656 5.2539062 z " id="path2" /%3E%3C/svg%3E%0A'); /*img(result-arrow.svg)*/
    position: relative;
    top: 3px;
    left: -1px;
    margin-right: 0px;
}

.jo_watcherResult {
    margin-right: 24px;
}

.jo_file.jo_watcher {
    padding-left: 0px;
    font-size: inherit;
}

/* .file.watcher>.fileimage:before {
    content: url('../assets/projectexplorer/tree-collapsed-dark.svg');
    position: relative;
    top: 4px;
    left: -3px;    
} */
