.monaco-editor {
    overflow: visible !important;
}

/**
    BugFix for Monaco editor. Without this code editor pane of References-Widget is 5px wide and 5px high
**/
.inline {
    height:100% !important;
    width:100% !important;
}

/* fix for monaco to play well with dokuwiki (both habe class .code): */
.hover-contents .code {
    margin-top: 0;
}

.joe_javaOnlineDiv {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: var(--backgroundDark);
    color: var(--fontColorNormal);
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
    font-size: 10pt;
    margin: 1em 0;
    background-image: url(../assets/projectexplorer/svg-loaders/grid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5%;
}

.joe_javaOnlineDiv  li {
    color: var(--fontColorNormal) !important;
}

.joe_leftDiv {
    /* flex-grow: 1; */
    width: 20%;
    background-color: antiquewhite;
}

.joe_centerDiv {
    flex: 1 1 auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.joe_controlPanel_top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid gray;
    padding: 2px;
}

.joe_rightDiv {
    flex: 0 1 auto;
    position: relative;
    width: 350px;
    border-left: 1px solid gray;
}

.jo_alternativeText {
    padding: 5px;
    font-size: 12;
    font-weight: normal;
    overflow: auto;
    height: calc(100% - 10px);
}

.jo_alternativeText li {
    margin-bottom: 10px;
}

.jo_alternativeText ul {
    margin-top: 5px;
}

.jo_run {
    height: 100%;
    overflow: hidden;
}

.joe_rightDivInner {
    height: 100%;
}

.jo_variablesTab{
    height: 100%;
}

.monaco-editor {
    position: absolute;
}

.joe_editorDiv {
    flex: 3;
    overflow: visible;
}

.joe_monacoDiv {
    width: 100%;
    height: 100%;
}

.joe_resetButton {
    z-index: 10;
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding: 5px;
    font-size: 10px;
    border: 1px solid gray;
    background-color: #464646c7;
    user-select: none;
}

.joe_codeResetModalCancel,.joe_codeResetModalOK {
    padding: 3px;
    border: 1px solid gray;
    user-select: none;
}

.joe_codeResetModalCancel {
    background-color: rgb(15, 104, 15);
    margin-left: 30px;
}

.joe_codeResetModalOK {
    background-color: rgb(128, 33, 33);
    margin-right: 30px;
}

.joe_codeResetModal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    background-color: rgba(46, 46, 46, 0.849);
    display: flex;
    flex-direction: column;
}

.joe_codeResetModalButtons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}



.joe_hintDiv {
    width: calc(100% - 5px);
    margin-left: 5px;
    height: 100%;
    /* padding: 2px 0 2px 5px; */
    overflow: auto;
}

.joe_hintDiv code {
    font-size: 14pt;
    background-color: transparent;
    box-shadow: none;
}

.joe_hintDiv pre {
    overflow: visible;
    word-wrap: normal;
    border: none;
    background-color: transparent;
    font-size: 14pt;
    line-height: 100%;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

.joe_hintDiv li {
    line-height: 24px;
}

.joe_bottomDiv {
    position: relative;
    height: 150px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
    overflow: hidden;
}

.joe_bottomDivFiles {
    width: 15em;
    height: 100%;
    border-right: 1px solid gray;
    font-size: 12px;
    position: relative;
}

.jo_errorsTab {
    font-size: 12px;
    padding-left: 4px;
    overflow: auto;
    height: 100%;
}

.joe_filesHeader {
    width: fit-content;
    color: var(--bottomdiv-tabheading);
    padding: 0 0 0 5px;
    font-weight: bold;
    margin-bottom: 2px;
}

.joe_addFileButton {
    position: absolute;
    top: 4px;
    right: 2px;
}

.joe_filesList {
    margin-left: 2px;
    height: calc(100% - 30px);
    overflow: auto;
}

.jo_file:hover>div>.jo_startButton {
    right: 20px !important; 
}

.joe_delete {
    position: absolute;
    right: 3px;
    top: 2px;
}

.joe_bottomDivInner {
    height: 100%;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.joe_bottomDivInner .jo_tabheadings {
    flex-wrap: wrap-reverse;
    height: fit-content;
}

.joe_bottomDivInner .jo_tabs {
    height: auto;
    flex: 1;
    overflow: hidden;
}

.joe_tabheading-right {
    display: flex;
    flex-direction: row;
    padding: 2px;
}
.joe_controlsDiv {
    display: flex;
}

.joe_slider {
    /* width: 4px;
    height: 100%; */
    background-color: transparent;
    position: absolute;
    /* top: 0px;
    left: calc(100% - 2px); */
    z-index: 1000;
}

.joe_slider:hover {
    background-color: #6969697a;
}

.joe_slider:active {
    background-color: rgba(255, 0, 0, 0.397) !important;
}