:root {
    --defaultOutputColor: white;
    --runInputColor: white;
    --runBackgroundColor: rgba(255, 255, 255, 0.2);
}

#rightdiv {
    position: relative;
    width: 400px;
    height: 100%;
    border-left: 1px solid var(--slider);
    box-sizing: border-box;
    /* background-color: #1e1e1e; */
    background-color: var(--backgroundDark);

}

.jo_rightdiv-rightside-container {
    position: absolute;
    top: 4px; 
    right: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.jo_coordinates {
    display: none;
    margin-right: 6px;
}

#rightdiv-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .jo_tabs {
    overflow: visible;
    height: calc(100% - 30px);
}

.jo_tabs .jo_tab {
    position: relative;
    height: 100%;
} */

.jo_run-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.jo_output {
    flex-grow: 1;
    padding: 2px;
    white-space: pre-wrap;
    overflow: auto;
    font-family: Consolas, "Courier New", monospace;
    font-weight: normal;
    /* font-size: 14px !important;
    line-height: 14px; */
    color: white;
    letter-spacing: 0px;
}

.jo_run-caption {
    font-size: 22pt;
    line-height: 25pt;
    overflow: hidden;
    color: var(--fontColorNormal);
    position: absolute;
    width: 100%;
    text-align: center;
    left: auto;
    top: 5px;
}

.jo_run-programend {
    font-size: 22pt;
    overflow: hidden;
    line-height: 25pt;
    color: rgb(63, 63, 173);
    position: absolute;
    width: 100%;
    text-align: center;
    left: auto;
    top: 50%;
    opacity: 0;
    z-index: 2;
}

.jo_run-input {
    position: absolute;
    display: none; /* flex */
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 95, 22, 0.582);
}

.jo_run-input>div {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}

.jo_run-input>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin: 0 20px;
    background-color: var(--backgroundLight);
    border: 1px solid var(--slider);
    color: var(--fontColorNormal);
    border-radius: 10px;
    height: 100%;
}

.jo_run-input-button-outer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.jo_run-input-button {
    padding: 5px;
    max-width: fit-content;
    max-height: fit-content;
    background-color: var(--loginButtonBackgrond);
    border: 1px solid #414141;
    cursor:pointer;
    user-select: none;
    -ms-user-select: none;
}

.jo_run-input-button:hover {
    filter: brightness(150%);
}

.jo_run-input-button:active {
    transform: scale(120%);
}

.jo_rix {
    margin-top: 10px;
    margin-bottom: 10px;
}

.jo_run-input-error {
    color: rgb(177, 26, 26);
}

.jo_newInput {
    background-color: var(--runBackgroundColor);
    border: none;
    color: var(--runInputColor);
    font: unset;
    width: 100%;
    margin: 0px;
    padding: 0px;
    outline: none;

}

@keyframes programend {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

.jo_programendkf {
    animation-name: programend;
    animation-duration: 3s;
}

.jo_graphics {
    /* width: 100%; */
    z-index: 3;
}

.jo_graphics>div {

    width: 100%;
    height: 100%;
    position: relative;

}

.jo_graphics>div>div {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.jo_graphics>div>div>canvas {
    width: 100%;
    height: 100%;
}

/* Zoomcontrol */

.jo_zoomcontrol-outer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 20px;
    height: 150px;
}

.jo_zoomcontrol-bar {
    position: absolute;
    height: 100%;
    right:7px;
    width: 6px;
    background-color: var(--speedcontrol-bar);
}

.jo_zoomcontrol-grip {
    position: absolute;
    cursor: pointer;
    height: 8px;
    top:0px;
    width: 20px;
    left: 0px;
    background-color: var(--speedcontrol-grip);
}

.jo_zoomcontrol-grip:hover {
    background-color: var(--speedcontrol-grip-hover);
}

.jo_zoomcontrol-grip:active {
    transform: scale(1.2);
}

.jo_zoomcontrol-display {
    display: none;
    position: absolute;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    padding: 5px;
    white-space: nowrap;
    background-color: var(--speedcontrol-display-background);
    border: 1px solid var(--speedcontrol-display-border);
}


.jo_control-container{
    position: absolute;
    right: 150px;
    top: 4px;
}