:root {

    --backgroundDark: #1e1e1e;
    --backgroundLight: #252526;
    --backgroundHeading: #37373d;
    --backgroundSelected: #2a2d2e;
    --fontColorNormal: #c2cccc;
    --fontColorLight: #e7e7e7;
    --slider: #414141;
    --loginButtonBackground: #59a15d;
    --loginButtonFontColor: #000000;
    --loginMessageColor: rgb(122, 48, 48);
    --loginButtonHover: #63a867;
    --loginButtonActive: #94ffd1;
    --scrollbar: #1e1e1e;
    --scrollbar-thumb: #3e3e3e;
    --scrollbar-thumb-hover: #5e5e5e;
    --scrollbar-thumb-active: #7e7e7e;
    --submenu-hover: #094771;
    --submenu-color:#ffffff;
    --menuitemsdivider: #616162;
    --file-hover: hsla(0, 0%, 38%, 0.125);
    --file-active: #094771;
    --file-active-border: #007fd4;
    --file-active-hover: rgba(9, 71, 113, 0.827);
    --file-errorcount: red;
    --inplace-editor: blue;
    --contextmenu-background: #3c3c3c;
    --contextmenu-color: rgb(212,212,212);
    --contextmenu-hover-background: #094771;
    --contextmenu-hover-color: #ffffff;
    --error-filename: #2a709e;
    --error-line-ative: #094771;
    --error-line-hover: rgba(136, 136, 136, 0.39);
    --error-position: #c0802d;
    --linecolumn: #14c714;

    --reveal-error: rgba(253, 101, 101, 0.745);
    --reveal-errorline-background: #bc1616;
    --reveal-error-whole-line: rgba(255, 0, 0, 0.555);

    --reveal-warning: rgba(146, 145, 65, 0.745);
    --reveal-warningline-background: #cca700;
    --reveal-warning-whole-line: rgb(238, 255, 0);

    --reveal-info: rgba(58, 60, 173, 0.745);
    --reveal-infoline-background: #75beff;
    --reveal-info-whole-line: rgba(4, 0, 255, 0.555);

    --reveal-programpointer: #6fd61b56;
    --reveal-syntaxelement: rgb(85,85,85);
    --reveal-method: #2b2b7d3f;
    --margin-breakpoint: rgba(255, 0, 0, 0.623);    
    --margin-breakpoint-active: rgba(255, 0, 0, 0.815);    
    --margin-breakpoint-mousedown: rgba(255, 153, 0, 0.815);    
    --speedcontrol-bar: #9d9d9d;
    --speedcontrol-grip: #588555;
    --speedcontrol-grip-hover: #89d185;
    --speedcontrol-display-background: #383838;
    --speedcontrol-display-border: #9d9d9d;
    --editorTooltip-background: #252526;
    --editorTooltip-border: #454545;
    --renameInput-color: #ffffff;

}   

html, body {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: var(--fontColorNormal);
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
    overflow: hidden;
    font-size: 10pt;
}


#bitteWarten>div>div {
    font-size: 32px;
    color: var(--fontColorLight);
}

/* Login */
#login, #bitteWarten {
    z-index: 1010;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundDark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-heading {
    z-index: 10;
    text-align: center;
    font-size: 400%;
    margin-top: 40px;
}

#login-footer {
    font-size: 12pt;
    z-index: 10;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-left: 20px;
}

#login-datenschutz {
    margin-right: 20px;
}

#login-datenschutz>a {
    color: lightblue !important;
}

#login-spinner {
    height: 60px;
}

#login-spinner>img {
    margin-top: 20px;
    height: 40px;
    display: none;
}

#bitteWarten {
    display: none;
}

#login>.jo_login_div, #bitteWarten>.jo_login_div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


#login-center {
    position: relative;
    width: 25em;
    height: 10em;
    background-color: var(--backgroundDark);
    border: 2px solid  var(--slider);
    border-radius: 10px;
    padding: 2em;
}

#login-center>input {
    width: 14em;
    background-color: var(--backgroundSelected) !important;
    border: 1px solid var(--slider) !important;
    color: var(--fontColorNormal) !important;
    font-size: 20px !important;
    padding-left: 3px;
    margin-bottom: 1em;
}

#login-center>input::placeholder {
    color: rgb(104, 130, 170);
    opacity: 0.5;
}

#login-button {
    position: absolute;
    border-radius: 5px;
    right: 2em;
    bottom: 1em;
    height: 2em;
    line-height: 2em;
    font-size: 20px;
    background-color: var(--loginButtonBackground);
    padding: 0 0.5em 0 0.5em;
    user-select: none;
    -ms-user-select: none;
    border: 1px solid var(--slider);
    color: var(--loginButtonFontColor);
    cursor: pointer;
}


#login-message {
    position: absolute;
    left: 2em;
    bottom: 4em;
    height: 2em;
    width: 14em;
    line-height: 1em;
    user-select: none;
    -ms-user-select: none;
    color: var(--loginMessageColor);
}

#login-button:hover {
    background-color: var(--loginButtonHover);
}

#login-button:active {
    transform: scale(1.2);
}

#login-center>#login-button.jo_active {
    background-color: var(--loginButtonActive);
}

.jo_gif_animation {
    z-index: 0;
    position: absolute;
    filter: brightness(0.3);
    border-radius: 20px;
    box-shadow: 0 0 20px 20px var(--backgroundDark);
}


/*
    Info-Buttons on start page
*/

.jo_infodiv {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.jo_infodiv_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jo_infodiv_box {
    position: relative;
    width: 16em;
    height: 8em;
    padding: 6px;
    border-radius: 5px;
    background-color: rgb(192, 204, 228);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}

.jo_infodiv_box:hover {
    filter:brightness(110%);
}

.jo_infodiv_box:active {
    transform: scale(1.05);
}

.jo_infodiv_box>img.jo_infobox_leftimage {
    width: 4em;
}

.jo_infodiv_box>img.jo_infobox_forkme {
    position: absolute;
    width: 100px;
    left: 0px;
    top: 0px;
}

.jo_infodiv_box>div {
    font-size: 20pt;
    flex: 1;
    text-align: center;
    color: darkslategrey;
    user-select: none;
}

.jo_infodiv_line>a {
    text-decoration: none;
}

#jo_testuser-login-button {
    background-color: #59a15d;
}

#jo_video_button {
    background-color: #c02424;
}

#jo_testlogins {
    background-color: rgb(202, 202, 62);
}

#jo_learnj {
    background-color: rgb(85, 85, 219);
    color: white;
}

#jo_learnj>div {
    color: white;
}

#jo_embedded_ide {
    background-color: rgb(194, 150, 70);
}

#jo_moodle_mebis {
    background-color: rgb(214, 214, 214);
}

