body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#outer-heading {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 180%;
    font-weight: bold;
    color: darkblue;
}

#outer-heading>div {
    margin: 10px;
}

#outer-main {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: row;
    overflow: hidden;
}

#main-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

#main-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#pruefungTable {
    flex: 1;
    margin: 5px;
}

#pruefungActions {
    margin: 5px;
    padding: 3px;
}

.jo_action_caption {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 3px;
}

.jo_inactive {
    pointer-events: none;
    filter: grayscale() contrast(50%);
    background-color: gray;
}

#studentTable {
    flex: 1;
    margin: 5px;
}

.joe_guiButton {
    font-weight: normal;
    color: #ddd;
    border: 1px solid #808080;
    height: fit-content;
    padding: 1px 3px;
    cursor: pointer;
    user-select: none;
}

.joe_guiButton:hover{
    border-color: #ccc;
}

.joe_guiButton:active{
    color: #fff;
}

.joe_guiButton:not(.active){
    filter:opacity(0.5) grayscale();
}

.joe_pruefung_state {
    font-weight: bold;
    color:rgb(65, 161, 41);
}

.joe_pruefung_printingDiv {
    margin-top: 8px;
    display: flex;
    justify-content: left;
}

@media print {
    #print {
        position: relative;
    }

    .jo_pagebreak {
        /* break-after: page; */
        page-break-after: always;
        color: red;
    }
    
    #outer {
        display: none;
    }

    .jo_twoColumnDiv {
        display: flex;
        flex-direction: row;
    }

    .jo_leftColumn, .jo_rightColumn {
        flex: 1
    }

    .jo_rightColumn {
        margin-left: 0.5cm;
    }

    .jo_codeBlock {
        font-family: monospace;
        white-space: pre;
    }

    .jo_fileCaption {
        font-weight: bold;
        margin-top: 0.5em;
    }

    .jo_originalCaption {
        font-weight: bold;
    }

}

@media screen {
    #print {
        display: none;
    }

    .joe_pruefung_timerbar {
        position: absolute;
        right: 5px;
        top: 5px;
    }
    
    .joe_pruefung_timerspan {
        height: 5px;
        width: 30px;
        background-color:rgb(85, 85, 219);
        display: inline-block;
        margin-right: 2px;
    }

    .jo_stateOnline {
        color: green;
        font-weight: bold;
    }
    
    .jo_stateOffline {
        color: red;
        font-weight: bold;
    }
    
}


