html, body {
    background-color: #1e1e1e;
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #c2cccc;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

a {
    color:rgb(93, 136, 200);
}

h1, h2 {
    color: white;
}

#main {
    padding: 15px;
    max-width: 800px;
    margin: 0 auto 0 auto;
}

#twoColumns {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

#twoColumns>div {
    padding: 0;
}

#leftColumn {
    flex: 1;
    margin-right: 10px;
}

#rightColumn {
    flex: 1;
    margin-left: 10px;
}

#formdiv {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px 0;
}

#formdiv>input {
    margin-bottom: 5px;
}

#message1, #message2 {
    color: rgb(202, 40, 40);
}

.weiter-button {
    width: 100px;
    margin-top: 10px;
    padding: 3px;
    background-color: rgb(76, 120, 76);
    border: 1px solid #a0a0a0;
    text-align: center;
    margin-left: auto;
    user-select: none;
}

.weiter-button:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.weiter-button:active {
    transform: scale(105%);
}

.bold {
    font-weight: bold;
}

#login-spinner {
    text-align: center;
    margin-right: 30px;
    visibility: hidden;
}

